html, body {
    height: 100%;
    background-color: #faf4ce;
    font-family: Didot;
    font-size: 20px;
}

th{
    text-align: center;
    background-color: cadetblue;
    color: white;
    font-size: larger;
}
.jumbotron {
    background-image: url('img/popcorn.jpg');
}

h3  {
    text-align: center;
}

h2 {
    margin-top:-50px;
}
#inputs {
    /*width: 720px;*/
    float: left;*
    display: inline-block;
    /*text-align: left;*/
}



#edit {
    float: left;
    /*width: 720px;*/
    display: inline-block;
    padding: 3em;
}

#movieContainer{
    padding: 50px;
}

td {
    text-align: center;
}

#load{
    background-image: url('img/loadingColor.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    text-align: center;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    font-family: Didot;
    color: #7f7f7f;
}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
    margin-top: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#titleList {
    /*clear: both;*/
   /*margin-left: auto;*/
    /*margin-right: auto;*/

}

table{
    background-color: #ffffff;
}

