html, body {
    height: 100%;
}

th{
    text-align: center;
    background-color: cadetblue;
    color: white;
    font-size: larger;
}
#inputs {
    width: 720px;
    float: left;
    display: block;
    text-align: center;
}

#edit {
    float: left;
    width: 720px;
    display: block;
    text-align: center;
}

#load{
    /*background-image: url('../img/loading.gif');*/
    border: 1px solid pink;
    height: 100%;
}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
    margin-top: 100px
}

#titleList {
    clear: both;
   margin-left: auto;
    margin-right: auto;

}

