html, body {
    height: 100%;
}

#inputs {
    display: block;
    text-align: center;
}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
}

